# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# If you are using Django migrations
*/migrations/*
!*/migrations/__init__.py

# Static files
/static/
!/static/.gitkeep

# Media files
/media/
!/media/.gitkeep

# Backup files
*.bak
*.swp

# Environment variables
.env

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
*.stackdump

# Jupyter Notebook
.ipynb_checkpoints

# celery beat schedule file
celerybeat-schedule

# coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Pylint
.pylint.d/

# Pytest
.pytest_cache/
pytest-debug.log


/docker/redis/redis_data