amqp==5.2.0
asgiref==3.7.2
async-timeout==4.0.3
billiard==3.6.4.0
celery==5.2.7
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cron-descriptor==1.4.3
Django==4.2.2
django-celery-beat==2.5.0
django-celery-results==2.5.0
django-filter==23.2
django-modeltranslation==0.19.4
django-timezone-field==6.1.0
djangorestframework==3.14.0
gunicorn==22.0.0
kombu==5.3.7
packaging==24.1
pillow==10.3.0
prompt_toolkit==3.0.47
psycopg2-binary==2.9.6
python-crontab==3.1.0
python-dateutil==2.9.0.post0
pytz==2023.3
redis==4.5.1
six==1.16.0
sqlparse==0.4.4

# Optional: For using Celery with Django
django-celery-beat==2.5.0
django-celery-results==2.5.0

# For JWT token with DRF
djangorestframework-simplejwt